// HEADER BG VIDEO

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}



.btn,
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all .2s;
	font-size: 2rem;
}

.btn:hover {
	transform: translateY
}

.btn--green {
	background-color: #27ae60;
	color: #fff;
}