.navigation {

  &__list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }

  &__item {
    margin: 1rem;

    &:first-of-type {
      align-self: flex-start;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2rem;
      font-weight: 700;
      color: $color-white;
      text-decoration: none;
    }
  }
}

.header {
  height: 100vh;
  position: relative;
}

.text-box {
  color: $color-white;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  &__heading {

    font-size: 7rem;
    font-weight: 700;
  }
  
  &__sub-heading {
    margin-top: 10rem;
  }
}




// .header {
// 	display: flex;
// 	justify-content: center;
//   flex-direction: row;
// }

// .text-box {
//   align-self: center;
//   width: 45%;

//   &__heading-primary {
//     color: $color-main-green;
//     font-size: 4rem;
//     font-weight: 400;
//     margin-bottom: 2rem;

//     &--main,
//     &--sub {
//       display: block;
//     }
//   }

// }

// //   &__text {
// //     font-size: 1.8rem;
// //     font-weight: 300;
// //     line-height: 1.6;
// //     margin-bottom: 2rem;
// //   }
// // }

// .img-wraper {
//   align-self: center;
//   width: 45%;

//   & img {
//     max-width: 100%;
//     height: auto;
//   }
// }











