
@import "abstracts/variables";

@import "base/reset";

@import "components/buttons";

@import "layout/header";


html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 3rem;
}



