
$color-green: 

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 3rem;
}

.header {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.header__text-box {
	align-self: center;
}

.header__text-box h1 {
	color: #27ae60;
	font-size: 4rem;
	font-weight: 400;
	margin-bottom: 2rem;
}

.header__text-box p {
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.6;
	margin-bottom: 2rem;
}

.btn,
.btn:link,
.btn:visited {
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all .2s;
	font-size: 2rem;
}

.btn:hover {
	transform: translateY
}

.btn--green {
	background-color: #27ae60;
	color: #fff;
}

.header__img-box {
	/* width: 50%;
	height: 50%; */
}