.header {
	display: flex;
	justify-content: center;
  flex-direction: row;
}

.text-box {
  align-self: center;
  width: 45%;

  &__heading {
    color: $color-main-green;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  &__sub-heading {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 2rem;
  }
}

.img-wraper {
  align-self: center;
  width: 45%;

  & img {
    max-width: 100%;
    height: auto;
  }
}











